.wave__top {
    position: absolute;
    top: -200px;
    left: -100px;
    z-index: -1;
}

header {
    background: url('../icon/wave-bottom-color.svg') no-repeat;
    background-size: 120%;
    background-position: bottom -150px right -40px;
    @include tablet {
        background-size: 900px;
    }
}

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            display: none;
            margin: 0 70px;
            .menu__links {
                a {
                    font-weight: 600;
                    padding: 5px 20px;
                    margin: 0 5px;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
                a.cta {
                    border-radius: 0.5rem;
                    -webkit-border-radius: 0.5rem;
                    -moz-border-radius: 0.5rem;
                    -ms-border-radius: 0.5rem;
                    -o-border-radius: 0.5rem;
                }
            }
            @include desktop {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

// Light theme
.menu.mode {
    .menu__links {
        a {
            color: $primary;
            &:hover {
                color: $secondary;
            }
        }
        a.cta {
            border: 3px solid $primary;
            &:hover {
                border-color: $secondary;
            }
        }
    }
}

// ----------------------------------------------------
// Dark theme
// ----------------------------------------------------
.hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    min-height: 700px;
    @include tablet {
        height: 70vh;
        min-height: 800px;
    }
    @include desktop {
        height: 90vh;
        min-height: 600px;
    }
    p {
        line-height: 1.5;
        margin-bottom: 30px;
        max-width: 430px;
    }
    .hero__subtitles {
        margin-bottom: 30px;
        @include tablet {
            margin-bottom: 20px;
        }
        span {
            background-color: $primary;
            display: inline-block;
            padding: 5px 10px;
            margin: 2px;
            font-weight: 500;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            @include tablet {
                margin-bottom: 5px;
            }
        }
    }
    .social__links {
        @include flex(row,
        start);
        @include desktop {
            flex-direction: column;
            position: absolute;
            left: 5%;
            &::after {
                position: absolute;
                content: " ";
                background-color: $primary;
                height: 100%;
                width: 5px;
                top: 100%;
                left: 15px;
            }
        }
        a {
            margin-right: 20px;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            @include desktop {
                margin-bottom: 20px;
            }
            &:hover {
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
            }
        }
    }
    a.scrolldown {
        margin-top: 90px;
        display: inline;
        max-width: 130px;
        svg {
            position: relative;
            top: 0px;
            animation: scroll 1.5s infinite;
            -webkit-animation: scroll 1.5s infinite;
        }
        p {
            color: $primary;
        }
        @include desktop {
            position: relative;
            bottom: -60px;
        }
    }
}

// toggle
.toggle {
    position: relative;
    // top: 50%;
    // right: 0;
    // transform: translateY(-50%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 20px;
    &--dark,
    &--light {
        position: absolute;
        right: 5%;
        pointer-events: none;
    }
    .toggle--light,
    .toggle--dark {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    .toggle--dark.active,
    .toggle--light.active {
        opacity: 1;
        visibility: visible;
        transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
    }
}